@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


/* Custom scrollbar styles */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background: #24282b;
}

::-webkit-scrollbar-thumb {
  background-color: #cecde4;
  border-radius: 20px;
  border: 22px solid #24282b;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #cecde4 #24282b;
}

.bg-custom-image {
  background-image: url('/image2.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}


